/*Some necessary adjustments*/
/* body {
  background-image: url("./../images/soup.jpg");
  background-repeat: no-repeat;
  background-size: 800px 600px;
} */
h1,
body,
html,
main {
  margin: 0;
  color: darkslategrey;
}
/*Import the font and set the default size*/
html {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}
.img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
h1 {
  font-size: 50px;
  text-align: center;
  color: #fff;
  margin-top: 50px;
  position: relative;
  top: -333px;
}
.info {
  width: 300px;
}
.sectionOne {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 80%;
  margin: 100px;
}
hr {
  width: 100%;
  border: 1px solid black;
}
.sectionTwo {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 80%;
  margin: 100px;
}
.sectionThree {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 80%;
  margin: 100px;
}
.cookingImageContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 100%;
}
ol {
  counter-reset: list;
}
ol > li {
  list-style: none;
}
ol > li:before {
  content: counter(list, lower-alpha) ") ";
  counter-increment: list;
}
.cookingDirectionsHeader {
  width: 95%;
  align-items: flex-start;
}
h2 {
  padding: 25px;
}
