body{
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.background {
    background-image: url(../images/apple-pie.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    margin-top: 0;
    margin-bottom: 90px;
}

.header{
    position: relative;
}

h1{
    color: white;
    font-size: 90px;
    position: absolute;
    top:350px;
    left: 450px;
    margin:0;
}

.introduction {
    margin-left: 270px;
    margin-right: 270px;
   
    margin-bottom: 50px;
}

.border{
    border-bottom: 1px solid black;
    margin-left: 270px;
    margin-right: 270px;
}

.ingredients{
    margin-left: 270px;
    margin-top:50px;
    margin-bottom: 50px;
}

.ingredients li:before{
    content: "-"; 
   
}

ul{
    list-style-type: none;
}

.directions{
    margin-left: 270px;
    margin-right: 270px;
    margin-top: 50px;
}

.directions ol {
    list-style: none;
}

.directions ol li{
    counter-increment: contador1 1;
}

.directions ol li::before {
    content: counter(contador1)") "; 
}




